if(notes.length>0)
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 Blog Entries (#{notes.length})
    .list-container.layout-row.layout-width-1-1
      .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-5-8
        #note_add_button_container.addnote.layout-row.layout-justify-between.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
        ul.itemlist
          each note, index in notes
            if(index<3)
              include blog-list-full
      .layout-col.layout-width-1-1.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-3-8
        ul
          each note, index in notes
            if(index>=3)
              include blog-list-small