extends index.pug

block content
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 Edit Domain
    .layout-row.layout-width-1-1
      .item-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        form(action="/domains/" + domain.id + "/" method="post")
          input(id="id" type="hidden" name="id" value=domain.id)
          .itemdetail.layout-col
            label.label(for="name") Name:
            .data 
              input(id="name" type="text" name="name" value=domain.name)
          .itemdetail.layout-col
            label.label(for="description") Description:
            .data
              input(id="description" type="text" name="description" value=domain.description)
          .itemdetail.layout-col
            label.label Actions:
            .data.layout-row
              input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
              a.btn.cancel(href="/domains/" + domain.id) Cancel
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Edit Domain View
        .infotext You can edit a domain with this view.
        .infotext Modify the details for the domain.
        .infotext.section-hdg.section-hdg-3 Name
        .infotext Enter the user's email address here. This should be a valid email address
        .infotext.example.layout-col
          .infotext.heading Examples:
          .infotext tommy@test.com
        .infotext.important This is a required field.
