extends index.pug

block content
  section.layout-width-sd.layout-col
    .layout-width-1-1.layout-col
      .layout-width-1-1.layout-col
        h1 Congrats! Here's your awesome web app.
      .layout-width-1-1.layout-col
      if(user)
        h2 Welcome, #{user.email}!
      else
        h2 It Works!
      .layout-width-1-1.layout-row.layout-md-col.layout-wrap
        .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1
          .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
            i.material-icons.big-icon folder
          .layout-width-3-4.text-align-justify This is your front page. When you're logged-in you'll get access to you domains. Domains are groupings of similar data. Use domains like filling cabinets.
        .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1
          .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
            i.material-icons.big-icon people
          .layout-width-3-4.text-align-justify Create or invite users to collaborate with you in your domains. Those users can create their own domains of data too.
        .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1
          .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
            i.material-icons.big-icon receipt
          .layout-width-3-4.text-align-justify You can create notes and other pieces of data in your domains. Notes are visible by all users that are collaborating with you in your domains.
        .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1
          .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
            i.material-icons.big-icon security
          .layout-width-3-4.text-align-justify Everything's secure! Your web app is locked-down and sealed tight by default. Only you and your collaborators can see your data.
    .layout-width-1-1.layout-col
      if(user)
        if(invites)
          include invites
        if(notes)
          include notes-list
        +list-domains("Domain")
        +create-or-see-domains("Domain")
    if(!user)
      .layout-width-1-1.layout-col
        h2 Get Started!
        +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")
