extends index.pug

block content
  section.layout-col
    .section-hdg.section-hdg-1 Accept Invitation
    .layout-row.layout-width-1-1
      .item-listing.layout-col
        form(action="/invites/" + roleAppid + "/" method="post")
          input(id="userEmail" type="hidden" name="userEmail" value= userEmail)
          .itemdetail.layout-col
            label.label(for="pin") PIN:
            #pin.data 
              input(id="pin" type="text" name="pin")
          .itemdetail.layout-col
            .label Actions:
            .data
              input#submit.btn.normal.buttonconfirm(type="submit" value="Confirm")
              a.btn.cancel.buttoncancel(href="/" + model + "/") Cancel

