extends index.pug

block content
  section.layout-col
    .section-hdg.section-hdg-1 Accept Invitation
    .layout-row.layout-width-1-1
      .item-listing.layout-col 
        .congrats Congrats! You've acceted the invitation to join the domain. Re-log in to see your new domain.

