section.layout-width-sd.layout-col
  .section-hdg.section-hdg-1 Notes (#{notes.length})
  .layout-row.layout-width-1-1
    .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
      ul.itemlist
        each note in notes
          - let targetLoc = "/notes/" + note.id + "/";
          //- li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
          li.layout-col
            .itemdetail.layout-col
              .label Name:
              .data #[a(href="/notes/" + note.id + "/") #{note.name}]
            - let description = note.description || null
            if description
              .itemdetail.layout-col
                .label Description:
                .data #{note.description}
      #note_add_button_container.addnote.layout-row.layout-justify-between.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
