extends index.pug

block content
  section.layout-col
    .section-hdg.section-hdg-1 Congratulations!
    .layout-col.layout-width-1-1
      .layout-width-1-1 Congratulations!
      .layout-width-1-1 Your registration is complete! When your registration is approved we'll email you.
      .layout-width-1-1 Check your email inbox for updates.