extends index.pug

block content
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 Roles (#{roles.length})
    .layout-row.layout-width-1-1
      .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        ul.itemlist
          each item in roles
            - let targetLoc = "/roles/" + item.id + "/";
            li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
              .itemdetail.layout-col
                .label Role:
                .data #{item.name}
              - let description = item.description || null
              if description
                .itemdetail.layout-col
                  .label Description:
                  .data #{item.description}
        #role_add_button_container.addrole.layout-row.layout-justify-between.authUI(data-fetch="role_add" data-href="/actions/create/roles/")
          //- a.btn.normal(href="/roles/add")
          //-   i.material-icons add_circle_outline
          //-   span Add User
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
        .infotext.section-hdg.section-hdg-3 Role List View
        .infotext This is a list of roles.