extends index.pug

block content
  .section-hdg.section-hdg-1 User #{user.fullname}
  .layout-row.layout-width-1-1
    .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
      ul.itemlist
        each role in user.roles
          li.layout-col
            .itemdetail.layout-col
              .label Role:
              .data #{role.name}
      #user_add_button_container.adduser.layout-row.layout-justify-between.authUI(data-fetch="user_add" data-href="/users/add")
    .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
      .infotext.section-hdg.section-hdg-3 User-Domains List View
      .infotext This is a list of domains that this user is in.
      .infotext Each user is given a user ID that is used by stockr to keep track of the user and the user's cases.
